

<!-- footer -->
<footer class="w3l-footer-22 py-5">
    <div class="container py-md-5 py-4" style="text-align: left;">
        <div class="row sub-columns">
            <div class="col-lg-4 col-sm-6 sub-one-left">
                <h6>About </h6>
                <p>
                    The House Of Green, Inc. is a non-profit organization unlocking human potential by providing reliable water projects to communities in Ghana
                    Africa who suffer needlessly from a lack of access to clean water and proper sanitation
                </p>
                <div class="columns-2">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/houseofgreensint.ngo" title="facebook"><span class="fab fa-facebook-f"
                                    aria-hidden="true"></span></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UCoGUfGtYIhryIhaY2AHnvvw" title="linkedin"><span class="fab fa-youtube"
                                    aria-hidden="true"></span></a>
                        </li>
                        <li><a href="https://twitter.com/HOUSEofGREENSI1" title="twitter"><span class="fab fa-twitter"
                                    aria-hidden="true"></span></a>
                        </li>                        
                        <li><a href="#instagram" title="instagram"><span class="fab fa-instagram"
                                    aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sub-two-right pl-lg-5 mt-sm-0 mt-5">
                <h6>Our Services</h6>
                <ul>
                    <li><a href="/about"><span class="fas fa-angle-right mr-2"></span>Who We Are</a>
                    </li>
                    <li><a href="/financials"><span class="fas fa-angle-right mr-2"></span>Financials</a>
                    </li>
                    <li><a href="/stories"><span class="fas fa-angle-right mr-2"></span>Stories From The Field</a>
                    </li>
                    <li><a href="/ourteam"><span class="fas fa-angle-right mr-2"></span>Our Team</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6 sub-two-right mt-lg-0 mt-sm-5 mt-4">
                <h6>Quick links</h6>
                <ul>
                    <li><a href="/donate"><span class="fas fa-angle-right mr-2"></span>Donate</a></li>
                    <li><a href="/waterhealth"><span class="fas fa-angle-right mr-2"></span>Water And Health</a>
                    </li>
                    <li><a href="/watercrisis"><span class="fas fa-angle-right mr-2"></span>Crisis: Why Water</a>
                    </li>
                    <li><a href="/contact"><span class="fas fa-angle-right mr-2"></span>Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 sub-two-right pl-lg-5 mt-lg-0 mt-sm-5 mt-4">
                <h6>Help & Support</h6>
                <ul>
                    <li><a href="/blogs"><span class="fas fa-angle-right mr-2"></span>Weekly Blog
                    </a></li>
                    <li><a href="/video"><span class="fas fa-angle-right mr-2"></span>Our Videos</a>
                    </li>
                    <li><a href="/donation"><span class="fas fa-angle-right mr-2"></span>Make A Donation</a>
                    </li>
                    <li><a href="/scarcity"><span class="fas fa-angle-right mr-2"></span>Statistics
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="sub-contact mt-5 pt-lg-4">
            <div class="row">
                <div class="col-md-4 footer-contact d-flex align-items-center">
                    <span class="fas fa-envelope-open" aria-hidden="true"></span>
                    <div>
                        <a href="mailto:info@houseofgreensint.org">info@houseofgreensint.org</a>
                        <p>Drop Us a Line</p>
                    </div>
                </div>
                <div class="col-md-4 footer-contact d-flex align-items-center active">
                    <span class="fas fa-phone-alt" aria-hidden="true"></span>
                    <div>
                        <a href="">+233593187492 (Ghana)</a>
                        <p>Call Us Now</p>
                    </div>
                </div>
                <div class="col-md-4 footer-contact d-flex align-items-center">
                    <span class="fas fa-map-marker-alt" aria-hidden="true"></span>
                    <div>
                        <h5> House of Greens 2355 Highway 36 West Bonestroo Suit 400. Roseville, MN 55113 Minneapolis, USA</h5>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="copyright-footer text-center">
        <div class="container">
            <div class="columns">
                <p>@2021 House Of Greens. All rights reserved. Design by
                    <a href="http://seavycloud" target="_blank">Seavy Cloud</a>
                </p>
            </div>
        </div>
    </div>
    <!-- //copyright -->
</footer>
<!-- //footer -->

<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>

