
   <!--header-->
   <header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand d-flex align-items-center" href="/">
                  <img src="/static/images/hog.jpg" width="60px" height="60px" alt="">
                </a>
            </h1>
            <!-- if logo is image enable this   
<a class="navbar-brand" href="#index.html">
    <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
</a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/donate" style="color: #686635;">Donate <span class="sr-only">(current)</span></a>
                    </li>
                    <div class="dropdown">
                      <button class="dropbtn">Learn</button>
                      <div class="dropdown-content">
                        <a href="/watercrisis">Crisis: Why Water?</a>
                        <a href="/covid">Our COVID-19 Response</a>
                        <a href="/waterhealth">Water & Health</a>
                        <a href="/watereducation">Water & Education</a>
                        <a href="/hunger">Water & Hunger</a>
                        <a href="/poverty">Water & Poverty</a>
                        <a href="/scarcity">Statistics and Figures</a>
                        <a href="/statistics">What is water Scarcity</a>
                        <a href="/teaching">Teching Tools</a>
                        <a href="/research">Research Center</a>
                        <a href=""></a>
                      </div>
                    </div>
                    <div class="dropdown">
                      <button class="dropbtn">Take Action</button>
                      <div class="dropdown-content">
                        <a href="/donation">Make A Donation</a>
                        <a href="/monthly">Give Monthly</a>
                        <a href="/community">Sponsor A Community</a>
                        <a href="/fund">Start A Fundraiser</a>
                        <a href="/sponsorship">Corporte Sponsorship</a>
                      </div>
                    </div>
                    
                    <div class="dropdown">
                      <button class="dropbtn">Our Work</button>
                      <div class="dropdown-content">
                        <a href="/stories">Stories from the Field</a>
                        <a href="/blogs">Weekly Blog</a>
                        <a href="/solvecrisis">How we solve the water crisis</a>
                        <a href="/promise">Substainability & The Water Promise</a>
                        <a href="https://www.youtube.com/channel/UCoGUfGtYIhryIhaY2AHnvvw" target="_blank">Watch On Youtube</a>
                      </div>
                    </div>
                    <div class="dropdown">
                      <button class="dropbtn">Media</button>
                      <div class="dropdown-content">
                        <a href="/blogs">Our Stories</a>
                        <a href="/video">Our Videos</a>
                        <a href="/images">Our Gallery</a>
                      </div>
                    </div>
                    <div class="dropdown">
                      <button class="dropbtn">About Us</button>
                      <div class="dropdown-content">
                        <a href="/about">Who we are</a>
                        <a href="/financials">Financials</a>
                        <a href="/ourteam">Our Team</a>
                        <a href="/leader">Leadership</a>
                        <a href="/employment">Employment</a>
                        <a href="/reviews">Read Reviews</a>
                      </div>
                    </div>                                        
                    <div class="dropdown">
                      <button class="dropbtn">Our Contact</button>
                      <div class="dropdown-content">
                        <a href="/contact">Contact Us</a>
                        <a href="https://www.facebook.com/houseofgreensint.ngo" target="_blank">Facebook</a>
                        <a href="https://twitter.com/HOUSEofGREENSI1" target="_blank">Twitter</a>
                        <a href="https://www.youtube.com/channel/UCoGUfGtYIhryIhaY2AHnvvw" target="_blank">Youtube</a>
                        <a href="/process_payment">Donate</a>
                      </div>
                    </div>



                    <!-- search button -->
                    <!-- <div class="search-right ml-lg-3">
                        <form action="#search" method="GET" class="search-box position-relative">
                            <div class="input-search">
                                <input type="search" placeholder="Enter Keyword" name="search" required="required"
                                    autofocus="" class="search-popup">
                            </div>
                            <button type="submit" class="btn search-btn"><i class="fa fa-search"
                                    aria-hidden="true"></i></button>
                        </form>
                    </div> -->
                    <!-- //search button -->
                </ul>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->



  
  