
{% extends 'base.html' %}


{%block title %}
House of Greens

{% endblock %}



{% block content %}
   

    <!-- banner section -->
    <section class="banner-19">
        <div class="banner-layer">
            {% for v in videos %}
            <video autoplay muted loop id="myVideo">
                <source src="{{v.video.url}}" type="video/mp4">                
            </video>
            <div class="main-content-top">
                <div class="container">
                    <div class="main-content">
                        <!-- if logo is image enable this   
                        <a class="logo" href="index.html">
                            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                        </a> -->
                        <h4>{{v.heading}}</h4>
                        <p class="mt-3">{{v.description}} </p>
                        <a href="/process_payment" class="btn btn-style mt-md-5 mt-4" style="background: #dc9027;">Donate</a>
                        <a href="/fund" class="btn btn-style mt-md-5 mt-4" style="background: #dc9027;">Fundraiser</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- //banner section -->

    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-6 col-lg-5 col-sm-6 col-xs-6 mx-auto my-5 p-5 text-center" style="box-shadow: 0px 0px 10px gray;">
                <h1 class="text-warning" style="padding: 10px; padding-bottom: 10px;">Click Here To Donate</h1>
                <!-- {{form.render}} -->          
                <div id="paypal-button-container"></div>                      
            </div>
            {% for p in pp%}
            <div class="col-md-6 col-lg-7 col-sm-6 col-xs-6 mx-auto my-5 p-5 text-center" style="box-shadow: 0px 0px 10px gray;">
                <h1 class="text-warning" style="padding: 10px; padding-bottom: 10px; line-height: 1.5em;">{{p.heading}}</h1>
                  <p style="padding: 10px; padding-bottom: 10px;">
                    {{p.description}}
                 </p>              
            </div>
            {% endfor %}
           
        
        </div>
    </div>



<!--top Heading-->
<section class="w3l-aboutblock">
    <div class="container-fluid ">
        <div class="row dd">
            {% for i in ith %}
            <div class="col-md-12 col-sm-12 col-lg-12 text-center" style="padding: 20px;">
                <img src="/media/{{i.image}}" height="150px" width="150px" class="responsive-img" alt="">
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12" style="padding: 20px;">
                <p>{{i.description}}</p>
            </div>
            {% endfor %}
        </div>        
    </div>
</section>
<!--top Heading End-->

    <!-- banner bottom section -->
    <section class="w3l-aboutblock py-5">
        <div class="container py-md-5 py-sm-4">
            <div class="row">
                {% for is in ish %}
                <div class="col-lg-6 left-wthree-img mb-lg-0 mb-4">
                    <img class="img-fluid img-responsive" src="/media/{{is.image}}" alt=" ">
                </div>
                <div class="col-lg-6 about-right-faq align-self pl-lg-5">
                    <h3 class="title-style" style="line-height: 1.5em;">{{is.heading}}</h3>
                    <p class="mt-2">{{is.description}}</p>                    
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
                {% for ith in ithd %}
                <div class="col-lg-6 left-wthree-img mb-lg-0 mb-4">
                    <img class="img-fluid img-responsive" src="/media/{{ith.image}}" alt=" ">
                </div>
                <div class="col-lg-6 about-right-faq align-self pl-lg-5">
                    <h3 class="title-style" style="line-height: 1.5em;">{{ith.heading}}</h3>
                    <p class="mt-2">{{ith.description}}</p>                    
                </div>
                {% endfor %}
            </div>
            
        </div>
    </section>
    <!-- //banner bottom section -->

  <!--Fourth Heading-->
<section class="w3l-aboutblock" >
    <div class="container-fluid">
        <div class="row dd" style="background: #dc9027;">
            {% for if in ifh %}
            <div class="col-md-12 col-sm-12 col-lg-12 text-center" style="padding: 20px;">
                <!-- <img src="/media/{{if.image}}" class="responsive-img" alt=""> -->
                <h1 style="line-height: 1.5em;">{{if.heading}}</h1>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12" style="padding: 20px;">
                <p>{{if.description}}</p>
            </div>
            {% endfor %}
        </div>        
    </div>
</section>
<!--Fpurth Heading End-->

        <!-- services section -->
        <div class="service-section py-5">
            <div class="container py-md-5 py-4">
                <div class="row align-items-center mb-5">
                    <div class="col-md-12 section-heading">
                        <h5 class="small-title-2">Communities</h5>
                        <h3 class="title-style-2">
                            Choose Who To Help</h3>
                    </div>                    
                </div>
                <div class="row justify-content-center">
                    {% for c in chelp %}
                    <div class="col-lg-3 col-md-6 item">
                        
                        <div class="card">
                            
                            <div class="card-header p-0 position-relative border-0">
                                <a href="">
                                    <img class="d-block img-responsive" src="/media/{{c.image}}" alt="card-image">
                                </a>
                            </div>
                            <div class="card-body service-details">
                                <p style="float: right;">{{c.amount}}</p>
                                <span class="label-style">{{c.raisedcommunity}}</span>
                                <a href="" class="service-heading">{{c.heading}}</a>
                                <p>{{c.description}}</p>
                                <a href="/process_payment" class="btn btn-warning btn-sm" style="margin-top: 15px;"> Help This Community</a>
                            </div>
                           
                        </div>
                       
                    </div>
                    {% endfor %}
                    <!-- <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="card">
                            <div class="card-header p-0 position-relative border-0">
                                <a href="services.html">
                                    <img class="d-block img-responsive" src="/static/images/s5.jpg" alt="card-image">
                                </a>
                            </div>
                            <div class="card-body service-details">
                                <span class="label-style label-style-2">Business</span>
                                <a href="services.html" class="service-heading">Mobile Applications</a>
                                <p>Sed ut perspiciatis unde omnis iste natus sit accusantium doloremque
                                    laudantium, totam rem aperiam</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
                        <div class="card">
                            <div class="card-header p-0 position-relative border-0">
                                <a href="services.html">
                                    <img class="d-block img-responsive" src="/static/images/s2.jpg" alt="card-image">
                                </a>
                            </div>
                            <div class="card-body service-details">
                                <span class="label-style label-style-3">Corporate</span>
                                <a href="services.html" class="service-heading">Digital Marketing</a>
                                <p>Sed ut perspiciatis unde omnis iste natus sit accusantium doloremque
                                    laudantium, totam rem aperiam</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
                        <div class="card">
                            <div class="card-header p-0 position-relative border-0">
                                <a href="services.html">
                                    <img class="d-block img-responsive" src="/static/images/s2.jpg" alt="card-image">
                                </a>
                            </div>
                            <div class="card-body service-details">
                                <span class="label-style label-style-3">Corporate</span>
                                <a href="services.html" class="service-heading">Digital Marketing</a>
                                <p>Sed ut perspiciatis unde omnis iste natus sit accusantium doloremque
                                    laudantium, totam rem aperiam</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- //services section -->

    <!-- content section -->
    <section class="w3l-content-mid py-5">
        {% for r in irh %}
        <div class="container py-md-5 py-4">
            <div class="welcome-left">
                <h3 class="title-w3l"></h3>
                <p class="mt-3 text-white">
                    {{r.heading}}
                </p>
                <p class="mt-3 text-white">
                    {{r.sponsorname}}
                </p>
                <a href="/stories" class="btn btn-style mt-4">Read Reviews</a>
            </div>
        </div>
        {% endfor %}
    </section>
    <!-- //content section -->

    <div class="map-contact">
        <iframe class="map-w3layouts"
            src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Ketu South Municipal District&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>
    </div>

    
    {% endblock %}