
{% extends 'base.html' %}


{%block title %}
House of Greens

{% endblock %}



{% block content %}
   
    <!-- inner banner -->
    <section class="inner-banner">
        <div class="w3l-breadcrumb py-5">
            <div class="container py-xl-5 py-md-4 mt-5">
                <h4 class="inner-text-title font-weight-bold mb-sm-2">Our Team</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="/">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Our Team</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->


    
        <!-- team section -->
        <section class="w3l-team py-5">
            <div class="container py-md-5 py-4">
                <div class="row align-items-center mb-5">
                    <div class="col-md-12 col-lg-12 section-heading">
                        <h5 class="small-title-2">Our Teammates </h5>
                        <h3 class="title-style-2">Our Creative Team In The World</h3>
                    </div>
                    
                </div>
                
                <div class="row text-center">
                    {% for t in tem %}
                    <div class="col-lg-3 col-md-3 col-sm-6" style="padding: 5px;">
                        <div class="team-block-single">
                            <div class="team-grids">
                                <a href="#team-single">
                                    <img src="/media/{{t.image}}" class="img-fluid" alt="">
                                    <div class="team-info">
                                        <div class="social-icons-section">
                                            <a class="fac" href="#facebook">
                                                <span class="fab fa-facebook-f"></span>
                                            </a>
                                            <a class="twitter mx-2" href="#twitter">
                                                <span class="fab fa-twitter"></span>
                                            </a>
                                            <a class="google" href="#google-plus">
                                                <span class="fab fa-google-plus-g"></span>
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="team-bottom-block p-4">
                                <h5 class="member mb-1"><a href="#team">{{t.name}}</a></h5>
                                <small>{{t.description}}</small>
                            </div>
                        </div>
                    </div>  
                    {% endfor %}                  
                </div>
               
            </div>
        </section>
        <!-- //team setion -->
    
       

{% endblock %}