
{% extends 'base.html' %}


{%block title %}
House of Greens

{% endblock %}



{% block content %}
   

    <!-- inner banner -->
    <section class="inner-banner">
        <div class="w3l-breadcrumb py-5">
            <div class="container py-xl-5 py-md-4 mt-5">
                <h4 class="inner-text-title font-weight-bold mb-sm-2">Donate Us</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="/">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Donate Us</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->


    {% endblock %}