
{% extends 'base.html' %}


{%block title %}
House of Greens

{% endblock %}



{% block content %}
   
    <!-- inner banner -->
    <section class="inner-banner">
        <div class="w3l-breadcrumb py-5">
            <div class="container py-xl-5 py-md-4 mt-5">
                <h4 class="inner-text-title font-weight-bold mb-sm-2">Research Center</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="/">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Research Center</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

          

    

   




    


  
    <section class="w3l-aboutblock" >
        <div class="container-fluid">
            {% for r1 in rc1 %}
            <div class="row dd" style="background: #337ab7;">               
                <div class="col-md-12 col-sm-12 col-lg-12 text-center" style="padding: 20px;">
                    <h1 style="line-height: 1em;">{{r1.heading}}</h1>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12" style="padding: 20px;">
                    <p>{{r1.description}}</p>                    
                </div>                                                               
            </div>     
            <br> 
            {% endfor %}   
                    
        </div>
    </section>
    
   



    <section class="w3l-aboutblock" >
        <div class="container-fluid">
            <div class="row dd" style="background: #dc9027;">
                {% for r2 in rc2 %}
                <div class="col-md-12 col-sm-12 col-lg-12 text-center" style="padding: 20px;">
                    <!-- <img src="/media/{{if.image}}" class="responsive-img" alt=""> -->
                    <h1>{{r2.heading}}</h1>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12" style="padding: 20px;">
                    <p>{{r2.description}}</p>
                </div>
                {% endfor %}
            </div>        
        </div>
    </section>









    {% endblock %}